h1 {
	color:Tomato;
}
h2 {
	color:DodgerBlue;
}
h3 {
	color:white; background-color:#ff7747
}

#p1 {
	color:red;
	background-color:powderblue;
}

#p2 {
	color:red;
	background-color:powderblue;
}

#pe {
	color:red;
	background-color:powderblue;
}